*{
    margin: 0px;
    box-sizing: border-box;
}
body{
   
    /* padding: 0px; */
    font-family:sans-serif;
}

#navbar{
    height: 60px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position:fixed;
    transition: all 0.3s ease;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

#navbar>h1{
    margin-left: 30px;
}

#navbar>div{
    margin-right: 20px;
    width: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
}

#navbar>div>button{
    border: none;
   padding: 6px 20px;
   font-size: large;
   font-weight: bolder;
   
}